
*.zip
enem/Análise de Itens/OrdenarPorTri/agenda.pdf
*.apkg
*.pdf
enem/Análise de Itens/OrdenarPorTri/o corretor tri/gamequestions.py
enem/Análise de Itens/OrdenarPorTri/o corretor tri/gamequestions.py
enem/Análise de Itens/OrdenarPorTri/o corretor tri/gamequestions.py
enem/Análise de Itens/OrdenarPorTri/gerador/~$provasOrdernadasPorTri.xlsx
