* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    color: #000;
    font-family: 'Varela Round', sans-serif;
    list-style-position: inside;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    width: 1200px;
    max-width: 95%;
    min-width: 360px;
    margin: 50px auto;

    border: 1px solid #ccc;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.header {
    height: 175px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    font-size: 36px;
}

.header-photo {
    height: 100%;
    margin-top: -20px;
}

.body {
    width: 100%;
}

.body-item {
    padding: 15px 25px;

    border-top: 1px dashed #ccc;
}

.body-item-title {
    font-size: 26px;
    margin-bottom: 10px;
}

.body-item-text {
    margin-left: 5px;
    color: #777;
}

.body-item-list {
    display: flex;
    flex-wrap: wrap;
}

.no-lp {
    list-style-type: none;
}

.li-desc {
    color: #666;
    font-size: .8em;
}

.body-item-list li {
    margin: 5px;
    padding: 15px;
    border: 1px solid #ccc;
}

/* .body-item-list li:first-child {
    margin-left: 0;
} */

